p{
 	font-size: 20px;
  text-align: center;
}
body{
	
 background: #ee82ee;
 	
}

}
h2{
	text-align:center ; 
	color: deeppink;
}
strong{
	color: darkred;
}
.coracao{
	width: 30%;
	margin: 0 450;
	
}